/* styles.css */
body {
    background-color: rgb(50,122,167);
    padding: 0 20px 20px 20px;
    margin: 0;
}

p {
    color: rgba(255,255,255,.6);
    font-size: 1em;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(255,255,255); 
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid rgb(87, 185, 178); 
    padding-top: 10px; 
    padding-bottom: 10px;
    overflow: hidden;
}

h1 {
    font-size: 2em; 
}
/* an id you can use only once */
#logo {
    font-family: Baskerville, Palatino, sans-serif; 
    font-size: 2em;
    color: rgba(255,255,255,.8); 
    font-style: italic;
    text-align: center; 
    margin-bottom: 30px; 
    background-color:rgb(191, 91, 116); 
    border-radius: 0 0 10px 10px; 
    padding: 40px; 
}
/* a class you can use multiple times */
.note {
    color:black; 
    border: 2px solid rgb(255, 255, 255); 
    background-color: rgb(69,189,102);
    margin-top: 25px; 
    margin-bottom: 35px; 
    padding: 20px; 
    border-radius: 5px 5px 5px 5px;
}
/* adding a .note with strong after it applies to any text that has the strong brackets around it idk */
.note strong {
    color: #fc6512; 
}
/* the max width helps to condense all information on the page + the margin helps to center all information */
article {
    max-width: 900px;
    margin: 0 auto;
}
/* this style applies to any paragraph that comes right after a heading or h1 */
h1+p{
    color: rgb(255,255,255);
    font-size: 1.2em;
    line-height: 140%; 
}

.worker {
    width: 300px;
    float: right;
    margin-left: 25px;
}