/* styles.css */
body {
    background-color: rgb(50,122,167);
    padding: 0 20px 20px 20px;
    margin: 0;
}

p {
    color: rgba(255,255,255,.6);
    font-size: 1em;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: rgb(255,255,255); 
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid rgb(87, 185, 178); 
    padding-top: 10px; 
    padding-bottom: 10px;
}